<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='eu.webp') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script>
      window.SERVER = `http://{{ host }}:{{ port }}`;
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>ESCO Skill Extractor</title>
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='eu.webp') }}"
      alt="The flag of EU."
    />
    <div class="container">
      <h1>ESCO Skill Extractor</h1>
      <form>
        <textarea
          id="text"
          placeholder="Paste your text here to extract ESCO skills and occupations."
          rows="20"
        ></textarea>
        <button
          id="submit-button"
          type="submit"
          onclick="extractEntity(event)"
        >
          Extract skills and occupations
        </button>
      </form>
      <output id="output">
        Extracted skills and occupations will appear here
      </output>
    </div>
  </body>
</html>
